<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% load staticfiles %}
    <!-- Google Web fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'/>

    <!-- jquery -->
    <script src="{% static "do/js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "do/js/jquery.validate.min.js" %}"></script>

    <!-- bootstrap javascript begin -->
    <script src="{% static "do/bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static "do/datepicker/js/bootstrap-datepicker.js" %}"></script>

    <!-- jquery form plug-in -->
    <script src="http://malsup.github.com/jquery.form.js"></script>

    <!-- jquery token input plug-in -->
    <script src="{% static "do/js/jquery.tokeninput.js" %}"></script>

    <!-- jquery token-input -->
    <link href="{% static "do/css/token-input.css" %}" rel="stylesheet" media="screen"/>
    <!--  datepicker -->
    <link href="{% static "do/datepicker/css/datepicker.css" %}" rel="stylesheet" media="screen"/>

    {% include "do/css_includes.html" %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#doitdropdownlink").mouseenter(function () {
                $("#doitdropdown").toggle();
            });

            $("#doitdropdown").mouseleave(function () {
                $("#doitdropdown").toggle();
            });
        });
    </script>
    {% include "do/newtask_head.html" %}
    {% include "do/form_util.html" %}
</head>
<body>
<div id="container" class="container">
    <div id="header" class="row">
        <div id="header_logo" class="span3">
            <div class="dropdown">
                <a id="doitdropdownlink" class="doitdropdown" href="#">
                    <img src="{% static "do/images/do_logo_small.png" %}" alt="Do"/>
                </a>

                <div class="submenu" id="doitdropdown">
                    <ul class="root">
                        <li>
                            <a href="#new_task_modal" id="new_task_modal_button" role="button" data-toggle="modal">
                                <i class="icon-chevron-right pull-right"></i>+ Task
                            </a>
                        </li>
                        <li><a href="#new_task_bug"><i class="icon-chevron-right pull-right"></i>+ Bug</a></li>
                        <li><a href="#new_task_enhancement"><i class="icon-chevron-right pull-right"></i>+
                            Enhancement</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="personal_space" class="span4">
            <div id="welcome_note">
                <p>
                    Welcome {{ user.email }}
                </p>
            </div>
            <div id="logout_link">
                <p>
                    <a href="{% url 'do:logout' %}">Logout</a>
                </p>
            </div>
        </div>
    </div>
    <div class="alert alert-danger row" id="base_info" style="display: none;">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <div id="base_msg"></div>
    </div>
    {% include "do/newtask.html" %}
    <div id="main_contents" class="row">
        {% block main_contents %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
</div>
</body>
</html>