{% extends 'do/base.html' %}

{% block title %}All tasks{% endblock %}
{% block main_contents %}
    <div id="project_nav">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#">All</a>
            </li>
            {% for project in all_projects %}
                <li>
                    <a href="#">{{ project.name }}</a>
                </li>
            {% endfor %}
            <li>
                <a href="#new_proj_modal" role="button" id="new_proj_modal_button" data-toggle="modal">+ Add Project</a>
            </li>
        </ul>
    </div>
    <div id="today_tasks" class="today_pane task_list_pane">
        <h2>Today</h2>
        <ul class="dotasklist connectedSortable">
            {% for task in all_normal_tasks %}
                {% if task.is_due_today %}
                    {% include "do/task.html" %}
                {% endif %}
            {% endfor %}
            {% for task in all_email_tasks %}
                {% if task.is_due_today %}
                    {% include "do/task.html" %}
                {% endif %}
            {% endfor %}
            <a href="#new_task_modal" id="new_task_modal_button3" role="button" data-toggle="modal">
                <li class="dotask taskplaceholder">
                    <i class="icon-pencil icon-large"></i> add task
                </li>
            </a>
        </ul>
    </div>
    <div id="backlog" class="task_list_pane">
        <h2>Backlog</h2>
        <ul class="dotasklist connectedSortable">
            {% for task in all_normal_tasks %}
                {% if not task.is_due_today %}
                    {% include "do/task.html" %}
                {% endif %}
            {% endfor %}
            {% for task in all_email_tasks %}
                {% if not task.is_due_today %}
                    {% include "do/task.html" %}
                {% endif %}
            {% endfor %}
            <a href="#new_task_modal" id="new_task_modal_button2" role="button" data-toggle="modal">
                <li class="dotask taskplaceholder"><i class="icon-pencil icon-large"></i> add task</li>
            </a>
        </ul>
    </div>
    {% include "do/newproject.html" %}
{% endblock %}
{% block bodyendscript %}
    <script type="text/javascript">
        function taskQuickEdited(data) {
            if (data.status == "success") {
                $("#base_info").show();
                $("#base_msg").html(data.message);
            }
        }
        $(".dotasklist").each(function () {
            $(this).sortable({
                items: "li:not(.taskplaceholder)",
                connectWith: ".connectedSortable",
                receive: function (event, ui) {
                    if ($(this).parent().attr("id") == "today_tasks") {
                        ui.item.find("#today").val("yes");
                        ui.item.children("form").ajaxSubmit({
                            dataType: 'json',
                            taget: '#base_msg',
                            success: taskQuickEdited
                        });
                    }
                }
            }).disableSelection();
        });
        $(".icon-ok-sign").each(function () {
            $(this).click(function () {
                $(this).parent().parent().parent().find("#status").val("done");
                $(this).parent().parent().parent().children("form").ajaxSubmit({
                    dataType: 'json',
                    target: '#base_msg',
                    success: taskQuickEdited
                });
                $(this).parent().parent().parent().fadeOut();
            });
        });
        /*
         $(".dotask").each(function () {
         $(this).draggable({revert: "invalid",
         containment: "document",
         cursor: "move",
         helper: "clone",
         start: function(e, ui) {
         $(ui.helper).addClass("task-draggable-helper");
         }});
         });
         function initDroppable(item) {
         item.droppable({
         accept: ".dotask",
         hoverClass: "dotask-drop-hover",
         drop: function(event, ui) {
         ui.draggable.next().remove();
         ui.draggable.insertAfter(this);
         var item = $("<li class='dotaskdroppable'></li>");
         initDroppable(item);
         item.insertAfter(ui.draggable);
         }
         });
         }
         $(".dotaskdroppable").each(function() {
         initDroppable($(this));
         });
         */
    </script>
{% endblock %}