<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Do it.</title>
    {% load staticfiles %}
    {% include "do/css_includes.html" %}
    <script src="{% static "do/js/angular.min.js" %}"></script>
    <script src="{% static "do/js/angular-resource.min.js" %}"></script>
    <script src="{% static "do/app_bak/do.js" %}"></script>
    <script src="{% static "do/app_bak/controllers/controllers.js" %}"></script>
    <script src="{% static "do/app_bak/services/users.js" %}"></script>
</head>

<body ng-app="doApp">
    <div id="do_newdoer" ng-controller="UserController">
        <div id="do_main_logo">
            <img src="{% static "do/images/do_logo_2.png" %}" alt="Do"/>
        </div>
        <div id="do_main_signup_form">
            <form id="signup_form" name="signup_form" ng-submit="submitForm();" method="post">
                {% csrf_token %}
                <input type="email"
                       class="default_text"
                       name="useremail" id="useremail"
                       placeholder="email"
                       ng-model="userEmail"
                       unique-email
                       required/>
                <span class="form_error"
                      ng-show="signup_form.useremail.$invalid">
                    <span ng-show="signup_form.useremail.$error.email">Invalid e-mail address</span>
                    <span ng-show="signup_form.useremail.$error.required">E-mail is required</span>
                    <span ng-show="signup_form.useremail.$error.uniqueEmail">E-mail address already in use</span>
                </span>
                <br class="form_new_line"/>
                <input type="text"
                       class="default_text"
                       name="doername"
                       placeholder="your name"
                       id="doername" required/>
                <br class="form_new_line"/>
                <input type="password"
                       class="default_text"
                       name="password_first"
                       placeholder="password"
                       id="password_first" required/>
                <br class="form_new_line"/>
                <input type="password"
                       class="default_text"
                       name="password_second"
                       placeholder="confirm password"
                       id="password_second" required/>
                <br class="form_new_line"/>
                <button class="btn btn-danger" id="doit" type="submit">
                    start doing!
                </button>
                <p>
                    already registered? <a href="#" class="sign_up_or_sign_in">sign in</a>
                </p>
            </form>
        </div>
    </div>

</body>
</html>