<!doctype html>
<html lang="us">
<head>
	<meta charset="utf-8">
	<title>Do it.</title>
    {% load staticfiles %}
	<link href="{% static "do/css/blitzer/jquery-ui-1.10.3.custom.css" %}" rel="stylesheet"/>
    <link href="{% static "do/css/common.css" %}" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
	<script src="{% static "do/js/jquery-1.9.1.js" %}"></script>
	<script src="{% static "do/js/jquery-ui-1.10.3.custom.js" %}"></script>
    <script src="{% static "do/js/jquery.validate.min.js" %}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // input text fields
            $(".default_text_active").each(function() {
                $(this).show();
                var cur_field_id = $(this).attr("id");
                var original_field_id = cur_field_id.substring(8);
                $("#" + original_field_id).hide();
                $(this).focus(function() {
                    $(this).hide();
                    $("#" + original_field_id).show();
                    $("#" + original_field_id).focus();
                });
                $("#" + original_field_id).blur(function() {
                    if($("#" + original_field_id).val() == "")
                    {
                        $("#default_" + original_field_id).show();
                        $("#" + original_field_id).hide();
                    }
                });
            });

            $(".sign_up_or_sign_in").click(function(e) {
               flipForms();
            });

            // form validation
            var signup_form_validator = $("#signup_form").validate({
                rules: {
                    useremail: {
                        required: true,
                        email: true
                    },
                    doername: {
                        required: true
                    },
                    password_first: {
                        required: true,
                        minlength: 12
                    },
                    password_second: {
                        required: true,
                        minlength: 12,
                        equalTo: "#password_first"
                    }
                },
                messages: {
                    useremail: {
                        required: "Please enter a valid email address",
                        minlength: "Please enter a valid email address"
                    },
                    doername: {
                        required: "Enter your name"
                    },
                    password_first: {
                        required: "Provide a password",
                        minlength: jQuery.format("Enter at least {0} characters")
                    },
                    password_second: {
                        required: "Repeat your password",
                        minlength: jQuery.format("Enter at least {0} characters"),
                        equalTo: "Enter the same password as above"
                    }
                },
                errorClass: "form_error",
                debug: true,
                ignore: ".ignore"
            });

            // form validation
            var login_form_validator = $("#login_form").validate({
                rules: {
                    useremail_login: {
                        required: true,
                        email: true
                    },
                    password: {
                        required: true,
                        minlength: 12
                    }
                },
                messages: {
                    useremail_login: {
                        required: "Please enter a valid email address",
                        minlength: "Please enter a valid email address"
                    },
                    password: {
                        required: "Provide a password",
                        minlength: jQuery.format("Enter at least {0} characters")
                    }
                },
                errorClass: "form_error",
                debug: true,
                ignore: ".ignore",
                submitHandler: function(form) {
                    form.submit();
                }
            });

            function flipForms() {
                if($("#do_main_signup_form").is(":visible"))
                {
                    $("#do_main_signup_form").hide();
                    $("#do_main_login_form").show();
                }
                else
                {
                    $("#do_main_signup_form").show();
                    $("#do_main_login_form").hide();
                }
            }

            function checkExistingUser(data) {
                if(data.user_exists == "true")
                {
                    $("#newdoer_msg").html("You are already registered. Login using your password");
                    flipForms();
                }
                else {
                    window.location = "{% url 'do:home' %}";
                }
            }

            var options = {
                dataType:      'json',
                target:        '#newdoer_msg',   // target element(s) to be updated with server response
                success:       checkExistingUser
                // other available options:
                //url:       url         // override for form's 'action' attribute
                //type:      type        // 'get' or 'post', override for form's 'method' attribute
                //dataType:  null        // 'xml', 'script', or 'json' (expected server response type)
                //clearForm: true        // clear all form fields after successful submit
                //resetForm: true        // reset the form after successful submit
                // $.ajax options can be used here too, for example:
                //timeout:   3000
            };

            // bind to the form's submit event
            $('#signup_form').submit(function() {
                // inside event callbacks 'this' is the DOM element so we first
                // wrap it in a jQuery object and then invoke ajaxSubmit
                $(this).ajaxSubmit(options);

                // !!! Important !!!
                // always return false to prevent standard browser submit and page navigation
                return false;
            });

            {% ifequal show_login_page True %}
                flipForms();
            {% endifequal %}
            {% ifequal invalid_login True %}
                 $("#newdoer_msg").html("Invalid email or password");
            {% endifequal %}
            {% ifequal user_account_disabled True %}
                $("#newdoer_msg").html("Your account is disabled. Please contact your administrator");
            {% endifequal %}
        });
    </script>
</head>

<div id="newdoer_msg" class="message">
</div>

<div id="do_newdoer">
    <div id="do_main_logo">
        <img src="{% static "do/images/do_logo_2.png" %}" alt="Do" />
    </div>
    <div id="do_main_signup_form">
        <form action="{% url 'do:newdoer' %}" id="signup_form" method="post">
            {% csrf_token %}
            <input type="email"
                   class="default_text"
                   name="useremail" id="useremail"
                   required />
            <input type="text"
                   class="default_text default_text_active ignore"
                   name="default_useremail" id="default_useremail"
                   value="Email" />
            <br class="form_new_line"/>
            <input type="text"
                   class="default_text"
                   name="doername"
                   id="doername" required/>
             <input type="text"
                   class="default_text default_text_active ignore"
                   name="default_doername" id="default_doername"
                   value="Your name" />
            <br class="form_new_line"/>
            <input type="password"
                   class="default_text"
                   name="password_first"
                   id="password_first" required/>
            <input type="text"
                   class="default_text default_text_active ignore"
                   value="Password"
                   name="default_password_first"
                   id="default_password_first"/>
            <br class="form_new_line"/>
            <input type="password"
                   class="default_text"
                   name="password_second"
                   id="password_second" required/>
            <input type="text"
                   class="default_text default_text_active ignore"
                   value="Confirm Password"
                   name="default_password_second"
                   id="default_password_second"/>
            <br class="form_new_line"/>
            <button class="doitbutton" id="doit" type="submit">
                Start Doing!
            </button>
            <p>
                Already registered? <a href="#" class="sign_up_or_sign_in">Sign in</a>
            </p>
        </form>
    </div>
    <div id="do_main_login_form" style="display: none;">
        <form action="{% url 'do:login' %}" id="login_form" method="post">
            {% csrf_token %}
            <input type="email"
                   class="default_text"
                   name="useremail_login" id="useremail_login"
                   required />
            <input type="text"
                   class="default_text default_text_active ignore"
                   name="default_useremail_login" id="default_useremail_login"
                   value="Email" />
            <br class="form_new_line"/>
            <input type="password"
                   class="default_text"
                   name="password"
                   id="password" required/>
            <input type="text"
                   class="default_text default_text_active ignore"
                   value="Password"
                   name="default_password"
                   id="default_password"/>
            <br class="form_new_line"/>
            <button class="doitbutton" id="loginbutton" type="submit">
                Start Doing!
            </button>
             <p>
                New user? <a href="#" class="sign_up_or_sign_in">Sign up</a>
            </p>
        </form>
    </div>
</div>

</html>