<script type="text/javascript">
    $(document).ready(function () {
        $("#project_assignees").tokenInput("{% url "do:people_search" %}",
                {theme: "bootstrap",
                    zindex: "11001",
                    hintText: "Type in names of persons or teams",
                    defaultText: "add people or teams"});
        $('#start_date').datepicker();
        $('#new_proj_form').validate({
            rules: {
                project_name: {
                    minlength: 1,
                    required: true
                },
                start_date: {
                    minlength: 10,
                    required: true,
                    date: true
                },
                etc: {
                    required: true,
                    number: true
                },
                project_assignees: {
                    required: true
                }
            },
            messages: {
                project_name: {
                    required: "enter a name for the project",
                    minlength: "enter a name for the project"
                },
                start_date: {
                    required: "you need to specify a start date",
                    date: "you need to choose a valid date"
                },
                etc: {
                    required: "give an estimation about how many weeks are required",
                    number: "this should be a number"
                },
                project_assignees: {
                    required: "add at least one person or team",
                    minlength: "add at least one person or team"
                }
            },
            errorClass: "form_error",
            debug: true,
            ignore: ".ignore"
        });
        function createNewProject(data) {
            if (data.status == "success") {
                $("#new_proj_modal").modal("hide");
                $("#base_info").show();
                $("#base_msg").html(data.message);
            }
        }

        function getKeys(h) {
            var keys = []
            for (var k in h) {
                keys.push(h[k].id);
            }
            return keys;
        }

        function contatenate(arr, sep) {
            var str = "";
            var separator = "";
            for (var a in arr) {
                str += separator + arr[a];
                separator = sep;
            }
            return str;
        }

        // bind to the form's submit event
        $('#new_proj_form').submit(function (event) {
            // inside event callbacks 'this' is the DOM element so we first
            // wrap it in a jQuery object and then invoke ajaxSubmit
            if (!$("#new_proj_form").valid()) {
                return;
            }
            var selectedAssignees = $("#project_assignees").tokenInput("get");
            var keys = getKeys(selectedAssignees);
            var allAssigneeIds = contatenate(keys, ",");
            $("#project_assignees").val(allAssigneeIds);
            $(this).ajaxSubmit({
                dataType: 'json',
                target: '#base_msg',   // target element(s) to be updated with server response
                success: createNewProject
            });

            // !!! Important !!!
            // always return false to prevent standard browser submit and page navigation
            return false;
        });
    });
</script>