<script type="text/javascript">
    $(document).ready(function () {
        $("#task_assignees").tokenInput("{% url "do:people_search" %}",
                {theme: "bootstrap",
                    zindex: "11001",
                    hintText: "Type in names of persons or teams",
                    defaultText: "add people or teams"});
        $('#task_due_date').datepicker();
        $('#new_task_form').validate({
            rules: {
                task_summary: {
                    minlength: 1,
                    required: true
                },
                task_detail: {
                    minlength: 1
                },
                task_due_date: {
                    minlength: 10
                },
                task_assignees: {
                    required: true
                }
            },
            messages: {
                task_summary: {
                    required: "enter a summary of the task",
                    minlength: "enter a summary of the task"
                },
                task_detail: {
                    minlength: "you need to describe the task in detail"
                },
                task_due_date: {
                    minlength: "due date is required"
                },
                task_assignees: {
                    required: "add at least one person or team",
                    minlength: "add at least one person or team"
                }
            },
            errorClass: "form_error",
            debug: true,
            ignore: ".ignore"
        });
        function createNewTask(data) {
            if (data.status == "success") {
                $("#new_task_modal").modal("hide");
                $("#base_info").show();
                $("#base_msg").html(data.message);
            }
        }

        function getKeys(h) {
            var keys = []
            for (var k in h) {
                keys.push(h[k].id);
            }
            return keys;
        }

        function contatenate(arr, sep) {
            var str = "";
            var separator = "";
            for (var a in arr) {
                str += separator + arr[a];
                separator = sep;
            }
            return str;
        }

        // bind to the form's submit event
        $('#new_task_form').submit(function (event) {
            // inside event callbacks 'this' is the DOM element so we first
            // wrap it in a jQuery object and then invoke ajaxSubmit
            if (!$("#new_task_form").valid()) {
                return;
            }
            var selectedAssignees = $("#task_assignees").tokenInput("get");
            var keys = getKeys(selectedAssignees);
            var allAssigneeIds = contatenate(keys, ",");
            $("#task_assignees").val(allAssigneeIds);
            $(this).ajaxSubmit({
                dataType: 'json',
                target: '#base_msg',   // target element(s) to be updated with server response
                success: createNewTask
            });

            // !!! Important !!!
            // always return false to prevent standard browser submit and page navigation
            return false;
        });
    });
</script>

