
<script type="text/javascript">
    /* Sets some stilying for validating forms */
    function setValidatorDefaults(errorHandler, message){
        $.validator.setDefaults({
            showErrors: function(errorMap, errorList) {
                var validation = this;
                if(validation.numberOfInvalids() > 0)
                    $(errorHandler).html(message);

                $(errorList).each(function() {
                    var error = this;
                    validation.settings.highlight(error.element);
                })

                for (var i = 0, elements = this.validElements(); elements[i]; i++) {
                    validation.settings.unhighlight(elements[i], validation.settings.errorClass, validation.settings.validClass);
                }
            },
            highlight: function(element) {
                $(element).parents('.control-group').addClass("error");
            },
            unhighlight: function(element) {
                $(element).parents('.control-group').removeClass("error");
            },
            onfocusout: false,
            onkeyup: false,
            onclick: false
        });
    }

    $(document).ready(function() {
        setValidatorDefaults('.errorHandler',
                '<div class="alert alert-error"><strong>Ooops!</strong> Please complete all the fields to continue.</div>');

        // form validation
        var signup_form_validator = $("#new_task_form").validate();
        $("#task_assignees").tokenInput("{% url "do:people_search" %}",
                {theme: "bootstrap",
                 zindex: "11001"});
        $('#task_due_date').datepicker();
    })
</script>

